<!DOCTYPE html>
<html>
  <head>
    <title>Stupid Coaching</title>
  </head>

  <body>
    <div class="container">
    <h1>Stupid Coaching</h1>
    <quote class="question"><%= @question %><br/>
      <span>- you</span></quote>
    <quote class="answer"> <strong><%= @answer %></strong><br/>
      <span>- your coach</span></quote>
    <br/>
     <%= link_to "Ask a new question", ask_path %>
    </div>
  </body>
</html>
